$primary-color: #262523;
$secondary-color: #fff7f0;
$tertiary-color: #777777;

* {
    margin: 0;
    padding: 0;
    width: 100%;

    background-color: #262523;
    color: $secondary-color;
}

button{
    border: none;
}


h1{

}

h3,h5{
    color: $tertiary-color;
    font-family: "Bebas-Neue", sans-serif;
}

h3{
    font-size: 128px;
}

h1{
    font-family: "Dugas-Pro-Extra-condensed", "Jokerman", sans-serif;
    font-size: 320px;
    letter-spacing: 20px;
}

h5{
    font-size: 54px;
}