$primary-color: #262523;
$secondary-color: #fff7f0;
$tertiary-color: #777777;

$border-prop: 1px solid $secondary-color;

* {
  margin: 0;
  padding: 0;
  width: 100%;

  color: $secondary-color;
}

html {
  background-color: #262523;
  scroll-behavior: smooth;
}

button {
  border: none;
}

h1 {
  font-family: "Dugas-Pro-Extra-condensed", "Jokerman", sans-serif;
  font-size: 320px;
  letter-spacing: 20px;
}

h2,
h4 {
  font-family: "Dugas-Pro-Condensed", sans-serif;
  font-size: 92px;
  letter-spacing: 10px;
}

h3,
h5 {
  color: $tertiary-color;
  font-family: "Bebas-Neue", sans-serif;
}

h3 {
  font-size: 128px;
}

h4 {
  line-height: 1;
  font-size: 60px;
  letter-spacing: 5px;
}

h5 {
  font-size: 54px;
}

h6 {
  font-family: "Bebas-Neue", sans-serif;
  font-size: 28px;
}

.about {
  width: auto;
  margin: 20px 50px;
  p {
    margin: 20px 0px;
    font-family: "Bebas-Neue", sans-serif;
    font-size: 34px;
    letter-spacing: 2px;
    text-indent: 300px;
    text-align: justify;
    color: $tertiary-color;
  }
}
