/* Bold Condensed */
@font-face {
    font-family: "Dugas-Pro-Condensed";
    src: url("/font/Dugas Pro/DugasPro-BoldCondensed.ttf");
    font-weight: 700;
    font-style: normal;
}

/* Light Extra-condensed */
@font-face {
    font-family: "Dugas-Pro-Extra-condensed";
    src: url("public/font/Dugas Pro/DugasPro-BlackCondensed.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Bebas-Neue";
    src: url("/font/Bebas Neue/BebasNeue-Regular.ttf");
    font-weight: 300;
    font-style: normal;
}


